html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  height: 44px;
  width: 100%;
  background-color: #12a8e1;
  z-index: 4;
}

/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {
  height: 44px;
  padding: 10px;
  font-weight: 700;
}

.side-nav .logo {
  background-color: #233245;
  color: #fff;
}

.header .logo {
  float: left;
}

.header .logo {
  height: 44px;
  z-index: 1;
  padding: 10px;
  font-weight: 700;
  color: #233245;
}

.logo i {
  font-size: 22px;
}

.logo span {
  margin-left: 5px;
  text-transform: uppercase;
}

.nav-trigger {
  position: relative;
  float: right;
  width: 20px;
  height: 44px;
  right: 30px;
  display: block;
  top: -45px;
}

.nav-trigger span,
.nav-trigger span:before,
span:after {
  width: 20px;
  height: 2px;
  background-color: #35475e;
  position: absolute;
}

.nav-trigger span {
  top: 50%;
}

.nav-trigger span:before,
.nav-trigger span:after {
  content: "";
}

.nav-trigger span:before {
  top: -6px;
}

.nav-trigger span:after {
  top: 6px;
}

.side-nav {
  position: absolute;
  width: 100%;
  background-color: #34495e;
  height: 100vh;
  z-index: 1;
  display: none;
  padding-top: 44px;
}

.visible {
  display: block;
}

.side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-nav ul li {
  padding: 20px 10px;
  border-bottom: 1px solid #333333;
}

.side-nav ul li.active:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  border: 1px solid orange;
  top: 0;
  left: 0;
  background-color: #fff;
}

.side-nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.side-nav ul li:hover {
  color: #ffffff;
  background-color: #333333;
  transition: color 250ms ease-in-out;
  background-color: 250ms ease-in-out;
  border-left: 4px solid #0497df;
}

.side-nav ul li a i {
  color: #0497df;
  min-width: 20px;
  text-align: center;
}

.main-content {
  padding-top: 44px;
}

.main-inner-content {
  margin: 35px;
  border: 1px solid #12a8e1;
  padding: 25px;
  border-radius: 10px;
  width: 50%;
}

.inner-content--flex {
  display: flex;
}

.inner-content--flex-s {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.inner-content--flex-s div {
  font-size: 1.7rem;
  padding-right: 10rem;


}

.txt-1 {
  font-size: 1.8rem;
  padding-right: 20px;
  margin-bottom: 10px;
}

.txt-2 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.txt-sidenav {
  color: #fff;
  font-size: 1.8rem;
  margin-left: 15px;
  margin-bottom: 10px;
}

.main-nn {
  padding: 10px;
}

.main-inner-trans {
  border: 1px solid #12a8e1;
  padding: 20px;
  width: 90%;
  border-radius: 5px;
}

.btn-transact {
  background: #12a8e1;
  margin-top: 10px;
  padding: 10px;
  font-size: 1.6rem;
  border-radius: 6px;
  width: 45%;
  text-align: center;
}

.btn-transact a {
  color: #ffffff;
  text-decoration: none;
  background: none;
}

.hdr-acct {
  font-size: 2.3rem;
  margin-bottom: 20px;
  font-family: "Cinzel", serif;
}

.inner-mnth {
  font-size: 2rem;
  margin-bottom: 10px;
  width: 50%;
  text-align: center;
  margin-top: 35px;
}

.main-dd {
  margin: 20px 1px;
  letter-spacing: 1px;
  line-height: 1.8;
  font-size: 1.6rem;
}

.main-dd__flex {
  display: flex;
}

.my-main {
  text-align: center;
}

.main-dd__flex img {
  width: 50%;
}

.my-main--s {
  margin-top: 20px;
}

.main-pro-f {
  font-size: 1.8rem;
  font-weight: 600;
}

.main-info {
  font-size: 1.7rem;
  font-weight: 500;
}

.main-dd span:nth-child(2) {
  font-size: 1.6rem;
  font-weight: normal;
}

.dd-wrapper {
  margin: 40px;
  width: 40%;
  line-height: 2.1;
}

.dd-hdr {
  font-size: 2.4rem;
  letter-spacing: 1px;
}

.btn-cl {
  width: 98%;
  background: #e74c3c;
  padding: 5px 1px;
  border-radius: 3px;
  margin: 0;
  text-align: center !important;
  border: none;
  font-size: 1.8rem;
}

a.btn-submit {
  color: #ffffff;
  text-decoration: none;
}

footer {
  bottom: -10px;
  position: absolute !important;
  width: 100%;
  z-index: 3;
  background: #2c0ef0;
  padding: 15px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 1.7rem;
}

#ff-t {
  position: sticky;
  width: 100%;
  z-index: 3;
  background: #2c0ef0;
  padding: 15px;
  text-align: center;
  color: #ffffff;
  font-size: 1.7rem;
}

#inputbx {
  padding: 1.3em 0.8em;
  font-size: 1.2rem;
  outline: none;
  color: #888;
  letter-spacing: 1px;
  margin: 0.5em;
  width: 97%;
  border: 1px solid #838383;
  border-radius: 4px;
}

.main-inner-content {}

.main-inner-content h1,
.main-inner-content h2,
.main-inner-content h3 {
  text-align: center;
  font-weight: 500;
  line-height: 0.5;
  letter-spacing: 1px;
}

@media screen and (min-width: 600px) {
  header {
    background-color: #2c0ef0;
    z-index: 1;
  }

  header .logo {
    display: none;
  }

  .nav-trigger {
    display: none;
  }

  .nav-trigger span,
  .nav-trigger span:before,
  span:after {
    background-color: #fff;
  }

  .side-nav {
    display: block;
    border: 1px solid #34495e;
    width: 80px;
    position: fixed;
  }

  .side-nav ul li {
    text-align: center;
  }

  .side-nav ul li span:nth-child(2) {
    display: none;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
  }

  .side-nav ul li a i {
    font-size: 2.6rem;
  }

  .main-content {
    margin-left: 80px;
  }

  footer {
    bottom: -10px;
    position: absolute;
    width: 100%;
  }

  .main-inner-trans {
    margin: 0 35px 15px 55px;
    border: 1px solid #12a8e1;
    padding: 20px;
    width: 65%;
    border-radius: 5px;
  }

  .btn-transact {
    width: 20%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .side-nav {
    width: 200px;
    position: fixed;
  }

  .side-nav ul li {
    text-align: left;
  }

  .side-nav ul li span:nth-child(2) {
    display: inline;
  }

  .side-nav ul li {
    font-size: 1.7rem;
  }

  .main-content {
    margin-left: 200px;
  }

  footer {
    bottom: -10px;
    position: absolute;
    width: 100%;
  }

  .main-inner-trans {
    margin: 0 35px 15px 55px;
    border: 1px solid #12a8e1;
    padding: 20px;
    width: 55%;
    border-radius: 5px;
  }

  .btn-transact {
    width: 15%;
  }
}

@media screen and (min-width: 1200px) {
  .side-nav {
    width: 200px;
    position: fixed;
  }

  .side-nav ul li {
    text-align: left;
  }

  .side-nav ul li span:nth-child(2) {
    display: inline;
  }

  .side-nav ul li {
    font-size: 1.7rem;
  }

  .main-content {
    margin-left: 200px;
  }

  footer {
    bottom: -10px;
    position: absolute;
  }

  .main-inner-trans {
    margin: 0 35px 15px 55px;
    border: 1px solid #12a8e1;
    padding: 20px;
    width: 35%;
    border-radius: 5px;
  }

  .btn-transact {
    width: 15%;
  }
}